/*Navbar*/
.navbar{
    background-color:/*#333333*/white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding:10px;
}
.nav-link-wrapper{
    height: 1.2rem;
    border-bottom:  1px solid transparent;
    transition: border-bottom 0.5s;
}
.navbar >.left-side>div{
    margin-right: 2rem;
    font-size: 0.9em;
}
.navbar >.right-side >div{
    margin-right: 2rem;
    font-size: 0.9em;

}

.left-side{
    display:flex;
    align-items: center;
}

.nav-link-wrapper a{
    color:black;
    text-decoration: none;
    transition: color 0.5S;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black; /*3587A4*/
}

.nav-link-wrapper a:hover{
    color: black;
}

#logo{
    width: 3rem;
    padding-right: 0.6rem;
}

li h2{
    text-align: left;
}
.about h1{
    margin-bottom: 50px;
}
.about p{
    margin-bottom: 50px;
}
#header {
    float: right;
    padding-right: 100px;
}
.column {
    padding-right: 30px;
}
footer{
	text-align:center;
	background-color: lightgray;
}
#intro {
	padding-top: 50px;

}
body{
	padding-left: 20px;
}
.row{
	padding-top: 500px;
}

.container{
    text-align: center;
}